<div>
    <div class="row container-fluid">
        <div class="col-md-3">
            Query Database
        
        
        </div>

        <div class="col-md-6">
        -----SQL Table Filler----
        
        
        </div>

        <div class="col-md-3">
        Item Detail
        
        
        </div>

    </div>
</div>