*.dll
*.cache
OSWAM/src/OSWAM/obj/Release/netcoreapp1.0/PublishTemp/PublishOutput/wwwroot/lib/bootstrap/dist/js/bootstrap.js
OSWAM/.vs/config/applicationhost.config
OSWAM/.vs/OSWAM/v15/.suo
OSWAM/src/OSWAM/bin/Debug/netcoreapp1.0/OSWAM.runtimeconfig.dev.json
OSWAM/src/OSWAM/bin/Release/netcoreapp1.0/OSWAM.dll
OSWAM/src/OSWAM/obj/Debug/netcoreapp1.0/OSWAM.AssemblyInfo.cs
OSWAM/src/OSWAM/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OSWAM/src/OSWAM/obj/Release/netcoreapp1.0/CoreCompileInputs.cache
OSWAM/src/OSWAM/obj/Release/netcoreapp1.0/OSWAM.csproj.FileListAbsolute.txt