@{
    ViewData["Title"] = "Orders";
    ViewBag.Page = "Orders";
}

<div class="row">
    <div class="col-lg-8">
        <!--Collapsible Panel Group Column (size 8)-->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-toggle" data-toggle="collapse" href="#collapse1">Orders in Progress</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Pending Order One</li>
                        <li class="list-group-item">Pending Order Two</li>
                        <li class="list-group-item">Pending Order Three</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-toggle" data-toggle="collapse" href="#collapse2">Orders Waiting for Attention</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item">Waiting Order One</li>
                        <li class="list-group-item">Waiting Order Two</li>
                        <li class="list-group-item">Waiting Order Three</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-toggle" data-toggle="collapse" href="#collapse3">Orders Fullfilled</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">            
                    <ul class="list-group">
                        <li class="list-group-item">Processed Order One</li>
                        <li class="list-group-item">Processed Order Two</li>
                        <li class="list-group-item">Processed Order Three</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Right Hand Details Column (size 4)-->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Order Details</h4>
            </div>
            <div class="panel-body">
                <ol class="list-group">
                    <li class="list-group-item">
                        <span class="badge">B0000CDLKF</span>
                        Best CD Ever
                    </li>
                    <li class="list-group-item">
                        <span class="badge">B00EHZYWGM</span>
                        AmazonBasics Portable Bluetooth Speaker - Black
                    </li>
                    <li class="list-group-item">
                        <span class="badge">B00KMF2MZO</span>
                        Galaxy S5 Screen Protector
                    </li>
                    <li class="list-group-item">
                        <span class="badge">B01EFKSCP0</span>
                        PopSockets: Expanding Stand
                    </li>
                </ol>

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">$56.07</span>
                        Total Price
                    </li>
                    <li class="list-group-item">
                        <span class="badge">3.14 Pounds</span>
                        Total Weight
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>