@model IEnumerable<Oswam2015.Models.GetOrderCount_Result>
@{
    ViewData["Title"] = "Orders";
    ViewBag.Page = "Orders";
}

<div class="row">
    <!--Hiding Panel Nav bar-->
    <div class="col-lg-7">
        <!--Panel Fulfilled-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Orders</h4>
            </div>
            <div id="panelFulfilled">
                <div class="panel-body" id="ajaxgrid">
                    <button id="simBtn" class="btn btn-primary" style="font-size:20px;cursor:pointer;" onclick="toggleSim()">&#9658; Run Simulation</button>
                    @{ 
                        WebGrid orderGrid = new WebGrid(Model, rowsPerPage: 35, ajaxUpdateContainerId: "ajaxgrid");
                    }
                    @MvcHtmlString.Create(
                        orderGrid.GetHtml(
                            tableStyle: "table table-striped table-condensed table-hover",
                            htmlAttributes: new {id="OrderTable"},

                            columns: orderGrid.Columns(
                                orderGrid.Column("OrderNumber"),
                                orderGrid.Column("Products"),
                                orderGrid.Column("OrderStatus")
                            )

                            ).ToHtmlString()
                    )
                </div>
            </div>
        </div>
    </div>      
    <!--Right Hand Details Column (size 4)-->
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Order Details</h4>
            </div>
            <div class="panel-body pre-scrollable">

                <table class="table table-striped">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody id="OrderDetailsTable">
                        <tr><td><h4>Select Order For Details</h4></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
<script type="text/javascript">

    function toggleSim() {

        if (sessionStorage.getItem("RunStatus") === "false") {//run
            document.getElementById("simBtn").innerHTML = "|| Pause Simulation";
            sessionStorage.setItem("RunStatus", "true");

            //ajax - start sim
            var url = '/Sim/Index';

            $.ajax({
                type: 'POST',
                url: url,
                //data: {'',},
                success: function () {
                    document.getElementById("simBtn").innerHTML = "Finished";
                    sessionStorage.setItem("RunStatus", "false");
                }
            });

            location.reload();
        }
        else {//stop
            sessionStorage.setItem("RunStatus", "false");
            location.reload();
        }
    }

    $(document).ready(function () {

        $(function () {
            sessionStorage.getItem("RunStatus");

            if (sessionStorage.getItem("RunStatus") === null) {
                sessionStorage.setItem("RunStatus", "false");
                //alert("" + sessionStorage.getItem("RunStatus"));
            }
            else if (sessionStorage.getItem("RunStatus") === "true") {
                document.getElementById("simBtn").innerHTML = "|| Pause Simulation";
                setInterval(Refresh, 5000);
            }

        });

        $(function () {
            var tr = $('#OrderTable').find('tr');
            tr.bind('click', function (event) {
                var tds = $(this).find('td');
                var itemID = tds[0].innerHTML;

                //alert(itemID);

                var url = '/Orders/DetailsPartial';

                $.ajax({
                    type: 'GET',
                    //url: '<%: Url.Action("DetailsPartial", "Orders")%>',
                    url: url,
                    data: { 'orderID': itemID },
                    datatype: "html",
                    success: function (html) {
                        $("#OrderDetailsTable").html(html);
                    }
                });
                return false;
            });
        });
    })


    function Refresh() {
        location.reload();
    }

</script>
}