@model IEnumerable<Oswam2015.Models.GetOrderCount_Result>
@{
    ViewData["Title"] = "Orders";
    ViewBag.Page = "Orders";

    WebGrid orderGrid = new WebGrid(Model, rowsPerPage: 35);
}

<div class="row">
    <!--Hiding Panel Nav bar-->
    <div class="col-lg-7">
        <!--Panel Fulfilled-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Orders</h4>
            </div>
            <div id="panelFulfilled">
                <div class="panel-body">
                    @MvcHtmlString.Create(
                        orderGrid.GetHtml(
                            tableStyle: "table table-striped table-condensed table-hover",
                            htmlAttributes: new {id="OrderTable"},

                            columns: orderGrid.Columns(
                                orderGrid.Column("OrderID"),
                                orderGrid.Column("Products")
                            )

                            ).ToHtmlString()
                    )
                </div>
            </div>
        </div>
    </div>      
    <!--Right Hand Details Column (size 4)-->
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">Order Details</h4>
            </div>
            <div class="panel-body">

                <table class="table table-striped">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody id="OrderDetailsTable">
                        <tr><td><h4>Select Order For Details</h4></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            var tr = $('#OrderTable').find('tr');
            tr.bind('click', function (event) {
                var tds = $(this).find('td');
                var itemID = tds[0].innerHTML;

                //alert(itemID);

                var url = '/Orders/DetailsPartial';

                $.ajax({
                    type: 'GET',
                    //url: '<%: Url.Action("DetailsPartial", "Orders")%>',
                    url: url,
                    data: { 'orderID': itemID },
                    datatype: "html",
                    success: function (html) {
                        $("#OrderDetailsTable").html(html);
                    }
                });
                return false;
            });
        });
    })
</script>
}