@model IEnumerable<Oswam2015.Models.GetInventoryProducts_Result>
@{
    ViewData["Title"] = "Inventory";
    ViewBag.Page = "Inventory";

    WebGrid grid = new WebGrid(Model, rowsPerPage: 35);
}
<!DOCTYPE html>
<div>

    @if(Model.ElementAt(2).DimWidth == 3)
    {

    }
    <div class="row container-fluid">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">Search Inventory</h4>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("Report","Inventory", FormMethod.Post, null))
                    {
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">ID</span>
                                <input name="textboxID" type="text" class="form-control" placeholder="B0000CDLKF" aria-describedby="basic-addon1">                             
                            </div>
                           
                            <hr />
                            <p class="text-center">OR</p>
                            <hr/>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2">Name</span>
                                <input name="textboxName" class="form-control" placeholder="Acer, Tablet, USB" aria-describedby="basic-addon2">
                            </div> <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">Weight</span>
                                <input name="weightLow" class="form-control" placeholder="From" aria-describedby="basic-addon3" />
                                <input name="weightHigh" class="form-control" placeholder="To" aria-describedby="basic-addon4" />
                            </div> <br />
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">Price</span>
                                <input name="priceLow" class="form-control" placeholder="From" aria-describedby="basic-addon5" />
                                <input name="priceHigh" class="form-control" placeholder="To" aria-describedby="basic-addon6" />
                            </div>
                            <br />
                            <input class="btn btn-primary center-block" type="submit" value="Search" />
                    }
                </div>
            </div>
        </div>

        <div class="col-md-7 divider-vertical-right divider-vertical-left"> 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">Search Results</h4>
                </div>
                <div class="panel-body">
                    @MvcHtmlString.Create(
                        grid.GetHtml(
                            tableStyle: "table table-striped table-condensed table-hover",
                            htmlAttributes: new {id="ItemTable"},

                        columns: grid.Columns(
                            grid.Column("ID"),
                            grid.Column("ItemName"),
                            grid.Column("Weight"),
                            grid.Column("Price"),
                            grid.Column("Quantity")
                        )

                        ).ToHtmlString()
                    )
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">Item Details</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody id="ItemDetailsTable">
                            <tr><td><h4>Select Item For Details</h4></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            var tr = $('#ItemTable').find('tr');
            tr.bind('click', function (event) {
                var tds = $(this).find('td');
                var index = $('#ItemTable tbody tr').index(this);
                var itemID = tds[0].innerHTML;

                //alert(itemID);
                //alert(index);

                var url = '/Inventory/DetailsPartial';

                $.ajax({
                    type: 'GET',
                    //url: '<%: Url.Action("DetailsPartial", "Inventory")%>',
                    url: url,
                    data: {'productID': itemID},
                    datatype: "html",
                    success: function(html){
                        $("#ItemDetailsTable").html(html);
                    }
                });
                return false;
            });
        });
    })
</script>
}