
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-center">About the Project</h4>
        </div>
        <div class="panel-body">
            <p>OSWAM is an Open Source Warehouse Automation Management software. It was developed as a free and easily modifyable project to allow for smaller warehouses to manage themselves efficiently without the need for an expensive and clunky project.</p>
            <p>This project was designed as part of a capstone project at Champlain College in Burlington, Vermont. We care deeply about the development of Open Source software as a means of not only providing a resource for those looking to code or contribute to a project, but also as a free alternative to small businesses and individuals who may not be able to compete otherwise.</p>
            <p>The project is programmed in Visual Studio and implements services like Azure, Microsoft SQL Server Management Studio, and Bootstrap to put together the project. The code is written in C# and html, with some knowledge of SQL useful for implementation. The code is designed to be straightforward and easily accessable to make the project simple to build upon.</p>
            <p><a href="https://github.com/JohnP-Ryan/oswam_repo">The source code is stored on github.</a></p>
        </div>
    </div>
</div>