
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-center">Contact</h4>
        </div>
        <div class="panel-body">
            <p><a href="https://github.com/JohnP-Ryan/oswam_repo">The source code is stored on github.</a></p>
            <p>Additionally, we can be contacted directly at: oswam_dev@outlook.com</p>
        </div>
    </div>
</div>