body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input, select, textarea {
    max-width: 280px;
}

.divider-vertical-right {
    float: left;
    border-right: solid 1px #FFF;
}

.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
}

.navbar-nav > li {
        float: none;
        display: table-cell;
        text-align: center;
}