body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

h4 {
    color: #42c2f4;
}

nav a {
    font-size: 1.6em;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex: 0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.divider-vertical-right {
    float: left;
    border-right: solid 1px #42c2f4;
}

.divider-vertical-left {
    float: left;
    border-left: solid 1px #42c2f4;
}

.divider-horizontal-bottom {
    border-bottom: solid 1px #42c2f4;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
}

.navbar-nav > li {
    float: none;
    display: table-cell;
    text-align: center;
}

.text-center {
    text-align: center;
}


/*
.container-fluid {
    border: 5px double #D15F07;
}


.center-text {
    text-align: center;
}
*/