@{
    ViewData["Title"] = "Settings";
}

<!DOCTYPE html>
<div>
    <div class="row row-flex">
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="">Database Configuration the the thethe the the thet the</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="">Settings 2</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="">Settings 3</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="">System Diagnostics the the</h4>
                </div>
                <div class="panel-body">



                </div>
            </div>
        </div>
    </div>
</div>